g2p-en
inflect==5.6.2
librosa==0.7.2
matplotlib
numba==0.48
pypinyin
pyworld==0.2.12
PyYAML
scikit-learn
scipy
soundfile==0.10.3.post1
tensorboard
tgt
tqdm
unidecode
resampy==0.3.1
pydantic==1.7.0
torchtext==0.8.0
toml
cn2an
pypinyin

hydra-core==1.1.1
omegaconf==2.1.1
bitarray
sacrebleu
ckiptagger
#torch == 1.7.0
#ipywidgets
